<section>
    <owl-carousel-o [options]="mainSliderOptions" id="mainSlider">
    <ng-template carouselSlide>
      <img src="/imgs/grocery-banner.png"  class="w-full h-[400px] " alt="slider-img">
    </ng-template>
    <ng-template carouselSlide>
      <img src="/imgs/grocery-banner-2.jpeg" class="w-full h-[400px]  " alt="slider-img">
    </ng-template>
    <ng-template carouselSlide>
      <img src="/imgs/slider-2.jpeg" class="w-full h-[400px] " alt="slider-img">
    </ng-template>



  </owl-carousel-o>
</section>
